# Auto detect text files and perform LF normalization
* text=auto
c:\Users\dilfu\OneDrive\Documents\GitHub\main.py c:\Users\dilfu\OneDrive\Documents\GitHub\Procfile c:\Users\dilfu\OneDrive\Documents\GitHub\requirements.txt
